@import 'config';

.container {
  padding: 3.125rem;
  width: 100vw;
  min-height: 100vh;
  background: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  &.show-nav {
    transform: rotate(-20deg);
    + nav li {
      transform: translateX(0);
      transition-delay: 0.3s;
    }
    .circle {
      transform: rotate(-70deg);
    }
  }
  img {
    max-width: 100%;
  }
}

.circle {
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  background: #ff7979;
  border-radius: 50%;
  transition: transform 0.5s linear;
  &-container {
    position: fixed;
    top: -6.25rem;
    left: -6.25rem;
  }
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 6.25rem;
    background: transparent;
    border: none;
    font-size: 1.625rem;
    color: #fff;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &#open {
      left: 60%;
    }
    &#close {
      top: 60%;
      transform: rotate(90deg);
      transform-origin: top left;
    }
  }
}

nav {
  position: fixed;
  left: 0;
  bottom: 2.5rem;
  z-index: 100;
  ul {
    padding-left: 1.875rem;
    list-style-type: none;
    li {
      margin: 2.5rem 0;
      text-transform: uppercase;
      transform: translateX(-100%);
      transition: transform 0.4s ease-in;
      + li {
        margin-left: 0.9375rem;
        transform: translateX(-150%);
        + li {
          margin-left: 1.875rem;
          transform: translateX(-200%);
        }
      }

      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.4s ease;
        &:hover {
          color: #999;
        }
        i {
          margin-right: 0.625rem;
          font-size: 1.25rem;
        }
      }
    }
  }
}

.content {
  margin: 3.125rem auto;
  max-width: 62.5rem;
  small {
    color: #555;
    font-style: italic;
  }
  p {
    margin-top: 1.25rem;
    color: #333;
    line-height: 1.5;
  }
  h3 {
    margin: 1.25rem 0 1rem;
  }
}
